body{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15%;
}
form{
    margin: 10px;
}
.form-sec {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.row{
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 80%;
    height: 100%;
}

.row-table{
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: block;
    width: 95%;
}
