
{% extends 'base.html' %}

{%block title%} 
Inicio de sesión 
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<section class="form-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 form-sec">
		    <h2 class="text-center">Inicio Sesion</h2>
		    <form class="form-form" action="/login" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase">Usuario</label>
    <input type="text" class="form-control" placeholder="" name="correo">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Contraseña</label>
    <input type="password" class="form-control" placeholder="" name="contrasena">
  </div>
  
  
    <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      <small>Recuerdame</small>
    </label>
    <button type="submit" class="btn btn-form float-right">Iniciar</button>
  </div>
  
</form>
<h5 class="copy-text">no tienes cuenta <a href="/registroUsuarios">registrate</a></h5>
		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <img id="img" class="d-block img-fluid" src="{{ url_for('static', filename='img/tenistravis.jpg') }}" alt="First slide" width="760" height="538">
        <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>CALZA CON ESTILO</h2>
            <p>Colaboracion Travis Scott</p>
        </div>	
  </div>
    </div>
    <div class="carousel-item">
      <img id="img" class="d-block img-fluid" src="{{ url_for('static', filename='img/j1purple.jpg') }}" alt="First slide" width="760" height="538">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>jordan 1 high🔥</h2>
            <p>Consultar existencia</p>
        </div>	
    </div>
    </div>
    <div class="carousel-item">
      <img id="img" class="d-block img-fluid" src="{{ url_for('static', filename='img/travis.jpg') }}" alt="First slide" width="760" height="538">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>Travis Scott</h2>
        </div>	
    </div>
  </div>
            </div>	   
		    
		</div>
	</div>
</div>
</section>
{% endblock %}
